.responsive {
    width: 100%;
    height: 100%;
  }
.colorNavbar{
  color: rgb(53, 53, 53);
}

div.relative{
  position: relative;
  
}

.punteado{
  border-bottom-style: dotted;  
}

div.absolute{
  position: absolute;
  top: 30%;
  right: 30px;
  text-align: right;
  width: 550px;
  height: 300px;
}

div.formulario{
  width: 50%

}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}